# Puerto del servidor
PORT=3000

# Conexión a MongoDB (reemplaza con tus propias credenciales)
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/

# Clave secreta para JWT
JWT_SECRET=tu_clave_secreta_super_segura

# Tiempo de expiración del token
JWT_EXPIRES_IN=5d 

# Entorno de ejecución (development, production, test)
NODE_ENV=development 